@tailwind base;

*,
*::before,
*::after {
  @apply text-secondary;
}

body {
  @apply bg-primary;
}

h1,
h2,
h3,
label {
  @apply font-bold;
}

h1 {
  font-size: 3rem;
}

label,
input {
  font-size: 2rem;
}

input {
  @apply px-5 py-3 rounded-full focus:outline-none focus:ring-1 ring-accent;
  background-color: #333;
}

@tailwind components;
@tailwind utilities;
